.text-primary
{
    color: orange;
}
.text-secondary{
    color: aqua;
}
.btn{
    font-size: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color:white;
    background-color: #28a745;
    border-radius: 10px;
}
.btn:hover{
    opacity: 0.9;
}

/* Flex Items*/
.flex-items{
    display: flex;
    flex-direction: column;
    
    text-align: center;
    justify-content: center;
    height: 100;

}
.flex-items>div{
    padding: 20px;
}


.section-header{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.section-header h2{
    font-size: 40px;
    margin:20px 0;

}
.section-padding{
    padding:20px 20px 40px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}
.column{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}